.headbox {
  min-height: 40px;
  padding: 5px;
  margin: 5px;
  vertical-align: top;
  text-align: left;
  font-weight: 750;
  color: #fff;
}

.skyblue {
  background: rgb(16, 109, 116) ;
}

.body {
  background-color:  rgba(77, 70, 70, 0.37);
}

.dropdown {
  text-align: right;
}

